body {
  margin: 10px;
  background-color: white;
  padding: 0px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  margin-top: 10px;
}
button:hover {
  background-color: rgba(160 , 200, 195, 0.6) !important;
}
h1 {
  align-items: center;
  text-align: center;
  color: rgba(160 , 200, 195, 1);
}
.row {
  display: flex;
  align-items: center;
}
#minus-span, #plus-span{
  display: flex;
  justify-content: center;
}
.well {
  background-color: white;
  margin-top: 10%;
}
